@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url(reset.css);
*{box-sizing: border-box;}
/******************************HEADER (GYUJIN)****************************************/
.header{
    position: relative;
    z-index: 101;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.header_content .contents h1 a img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}
.header_content .contents h1 {
    display: inline-flex;
    align-items: flex-end;
    height: 53px;
}
.header_content .contents h1 a {
    display: block;
    float: left;
    height: 100%;
}
.header_content .contents h1 span {
    font-weight: 300;
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.500em;
}
.header_content{
    margin-bottom: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.header_content .contents{
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
    background: #fff;
}
.header .contents {
    width: 980px;
    margin: 0 auto;
}
.memberInfo_wrap {
    display: flex;
    align-items: center;
}
.memberInfo_wrap li {
    margin-left: 44px;
    margin-top: 2px;
}
.memberInfo_wrap li a {
    display: block;
    position: relative;
    padding-bottom: 19px;
}
.memberInfo_wrap li a img {
    width: 36px;
    height: 36px;
}
.memberInfo_wrap li a span {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
    white-space: nowrap;
}
.nav .contents {
    position: relative;
}
.header .contents {
    width: 980px;
    margin: 0 auto;
}
.nav{
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
    padding: 5px 0;
    background-color: #fff;
}
.nav.fixed {
    position: fixed;
    top: 0px;
    min-width: 1040px;
    padding: 10px 0;
}
.nav:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 61px;
    width: 100%;
    height: 2px;
    background-color: #fb4357;
}
.nav_menu {
    display: inline-flex;
}
.nav_menu > li:first-child {
    width: 137px;
}
.nav_menu > li {
    width: 162px;
    padding: 20px 0;
}
.nav_menu > li:last-child {
    width: 195px;
}
.nav_menu > li > h2 > a {
    font-weight: 500;
    font-size: 16px;
    color: #222;
    line-height: 1.500em;
}
.nav_menu > li:first-child .nav_overMenu {
    padding-left: 0;
}

.nav_menu > li > h2 {
    position: absolute;
    top: 7px;
}
.nav_menu > li > h2 > a strong {
    font-weight: 700;
    color: #fb4357;
}
.nav_menu > li:nth-child(2) > h2 {
    left: 80px;
}
.nav_menu > li:nth-child(3) > h2 {
    left: 160px;
}
.nav_menu > li:nth-child(4) > h2 {
    left: 240px;
}
.nav_menu > li:nth-child(5) > h2 {
    left: 335px;
}
.nav_menu > li:nth-child(6) > h2 {
    left: 430px;
}
.nav_overMenu {
    display: none;
    position: relative;
    margin-bottom: 8px;
    padding: 25px 0 0 25px;
}
.nav_overMenu dt {
    padding-top: 18px;
}
.nav_overMenu dt a {
    font-weight: 700;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
}
.nav_overMenu dd {
    margin-top: 8px;
    height: auto;
    margin: 0;
    line-height: 1em;
    text-align: left;
    background-image: none;
}
.nav_overMenu dd a {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 2.143em;
}
.totalSearch_wrap {
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 7px;
    padding: 0 10px 0 10px;
}
.totalSearch_wrap:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 1px;
    height: 20px;
    background-color: #cacaca;
}
.totalSearch_wrap:after {
    content: '';
    position: absolute;
    right: 0;
    top: 2px;
    width: 1px;
    height: 20px;
    background-color: #cacaca;
}

/******************************HEADER END (GYUJIN)****************************************/

/********************************* Main(GYUJIN)*******************************************/
#main_container {
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    z-index: 7;
}
.movieSelection_wrap {
    position: relative;
    height: 498px;
    background-color: #000;
}
#main_container .contents {
    width: 980px;
    height: 100%;
    margin: 0 auto;
}
.video_wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.movieSelection_wrap .contents .video_wrap:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.25) 75%, #000 100%);
    z-index: 2;
}
.video_wrap video {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1.35);
    z-index: 1;
}
.movieSelection_title {
    position: absolute;
    top: 170px;
    left: 0;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    line-height: 1.450em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.72);
    z-index: 2;
    pointer-events: none;
}
.movieSelection_txt {
    display: -webkit-box;
    overflow: hidden;
    position: absolute;
    top: 239px;
    left: 0;
    max-width: 100%;
    font-size: 20px;
    color: #fff;
    line-height: 1.450em;
    text-overflow: ellipsis;
    z-index: 3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    pointer-events: none;
}
.movieSelection_video_controller_wrap {
    display: inline-flex;
    position: absolute;
    top: 315px;
    left: 3px;
    z-index: 4;
    /* animation: tt 0.8s 3s ease-in forwards; */
}
.btn_movieSelection_detailView {
    display: block;
    padding: 5px 30px 5px 18px;
    font-size: 14px;
    color: #343434;
    line-height: 1.429em;
    background: rgba(255, 255, 255, 0.8)calc(100% - 11px) center/8px 13px scroll no-repeat;
    border-radius: 15px;
}
.arr{
    font-size: 13px;
}
.btn_movieSelection_playStop {
    display: block;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
}
#main_pause{
    color: #fff;
}
.btn_movieSelection_soundOnOff {
    display: block;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
}
#main_sound{
    color: #fff;
}
.movieChartBeScreen_wrap {
    clear: none;
    float: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37));
}
.movieChartBeScreen_wrap .contents {
    overflow: hidden;
    width: 1040px;
    margin-left: -10px;
    padding: 50px 0 60px;
}
.movieChartBeScreen_btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tabBtn_wrap {
    display: inline-flex;
}
.movieChartBeScreen_btn_wrap .btn_allView {
    padding: 4px 15px 4px 15px;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
    background: transparent calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.tabBtn_wrap h3 {
    height: auto;
    margin: 0;
    line-height: 1em;
    background-image: none;
}
h3 a.active {
    font-weight: 700;
    color: #222;
}
h3 a {
    font-weight: 400;
    font-size: 26px;
    color: #666;
    line-height: 1.423em;
}
.tabBtn_wrap h3 ~ h3 {
    position: relative;
    margin-left: 32px;
}
#btnReserMovie::before {
    content: '';
    display: block;
    position: absolute;
    left: -16px;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: #d8d8d8;
}
.main_container .contents{
    width: 980px;
    height: 100%;
    margin: 0 auto;
}
.movieChart_list.swiper {
    overflow: visible;
    position: relative;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1; 
}
.movieslide{
    transition: all 0.5s;
}
.swiper-wrapper {
    counter-reset: movie-chart-counter;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.img_wrap {
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 234px;
    border-radius: 10px;
}
.img_wrap_main:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
    z-index: 2;
}
.img_wrap img {
    z-index: 1;
}
.img_wrap > img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0, -50%);
}
.shadowbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    
}
.shadowbox:hover{
    background: rgba(0, 0, 0, 0.5);
}
.movieAgeLimit_wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 6px;
    top: 7px;
    z-index: 4;
}
i.cgvIcon.etc.age18 {
    overflow: hidden;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0) url(images/18.svg) center/contain scroll no-repeat;
    border-radius: 2px;
}
i.cgvIcon {
    display: inline-flex;
    font-size: 0;
}
.cgvIcon {
    display: inline-flex;
    width: 18px;
    height: 18px;
    font-size: 0;
    line-height: 0;
}
.screenType_wrap {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 5;
}
.screenType {
    display: flex;
    align-items: center;
    position: relative;
    width: 34px;
    height: 10px;
    border: 1px solid rgba(223, 223, 223, 0.5);
    border-radius: 3px;
}
.screenType img {
    width: 35px;
    height: 7px;
}
.screenType ~ .screenType {
    margin-top: 2px;
}
.movieChart_btn_wrap {
    position: absolute;
    display: none;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
}
a.btn_movieChart_detail {
    color: #666;
    background-color: #fff;
    top: 80px;
    left: 27px;
}
a.btn_movieChart_ticketing {
    color: #fff;
    background-color: #fb4357;
    top: 115px;
    left: 27px;
}
.movieChart_btn_wrap a:hover {
    opacity: 0.8;
}
.movieChart_btn_wrap a ~ a {
    margin-top: 6px;
}
.img_wrap:hover .movieChart_btn_wrap a {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 34px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.462em;
    border-radius: 4px;
}
.img_num::after {
    content: counter(movie-chart-counter);
    counter-increment: movie-chart-counter;
    position: absolute;
    left: 9px;
    bottom: -4px;
    font-weight: 400;
    font-size: 50px;
    font-style: italic;
    color: #fff;
    line-height: 1em;
    z-index: 3;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.45);
}
.img_num:hover::after {
    content: ""; /* hover 시 숫자가 사라지도록 content를 빈 문자열로 설정 */
}
.movie_info_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movieName {
    display: block;
    flex-basis: 100%;
    overflow: hidden;
    margin-top: 14px;
    font-size: 18px;
    color: #222;
    line-height: 1.167em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.movie_info_wrap > span {
    display: block;
    float: left;
    margin-top: 9px;
    font-size: 14px;
    color: #444;
    line-height: 1.214em;
}
.movie_info_wrap > span img {
    width: 16px;
    height: 16px;
    vertical-align: top;
}
.movie_info_wrap > span ~ span {
    position: relative;
    padding-left: 16px;
}
.movie_info_wrap > span ~ span:before {
    content: '';
    display: block;
    position: absolute;
    left: 6px;
    top: 50%;
    width: 1px;
    height: 10px;
    margin-top: -5px;
    background-color: #ededed;
}
i.cgvIcon.etc.ageDay {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
}
i.cgvIcon.etc.ageDay:before {
    content: attr(data-before-text);
    font-weight: 700;
    font-size: 10px;
    font-style: normal;
    color: #fb4357;
    letter-spacing: -0.165em;
    text-indent: -0.15em;
    white-space: nowrap;
}
.arrbox{
    position: relative;
    width: 1100px;
    margin: 0 auto;
} 
.swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(7, 7, 7, 0.8);
    background: rgba(216, 213, 213, 0.8);
    right: 40px;
    top: 210px;
    transform: rotate(-180deg);
    z-index: 50;
}
.swiper-button-prev {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(7, 7, 7, 0.8);
    background: rgba(216, 213, 213, 0.8);
    left: 40px;
    top: 210px;
    z-index: 50;
}
.swiper-button-next img{
   width: 10px;
   height: 14px;
}
.swiper-button-prev img{
    width: 10px;
    height: 14px;
 }
/******************************Main END (GYUJIN)**************************************/

/****************************** EVENT (GYUJIN) ****************************************/
.event_wrap {
    padding: 60px 0 6px;
}
.event_title_wrap {
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.event_title_wrap h3 {
    float: left;
    height: auto;
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    color: #222;
    line-height: 1.423em;
    background-image: none;
}
h3 {
    height: 41px;
    margin: 30px 0 15px;
    line-height: 41px;
    text-align: center;
    font-weight: 500;
}
.event_title_wrap .btn_allView {
    float: right;
    margin-top: 4px;
    padding: 4px 32px 4px 15px;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
    background: transparent url(../images/arrowR_8x13.png) calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.btn_eventControl {
    display: block;
    position: absolute;
    right: 106px;
    top: 4px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(../images/play.png) 10px center/11px 15px scroll no-repeat;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
}
.event_title_wrap:after {
    content: '';
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
}
.event_list_wrap {
    position: relative;
    width: 100%;
    margin-top: 19px;
    margin-left: -30px;
    padding: 0 30px;
}
.event_list {
    overflow: visible;
    position: relative;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.swiper-slide a {
    display: block;
}
.event_list .swiper-wrapper .swiper-slide a .img_wrap {
    width: 310px;
    height: 207px;
    border-radius: 10px;
}
/**************************** EVENT END (GYUJIN) ****************************************/

/****************************** FOOTER (GYUJIN)******************************************/
footer {
    min-width: 1040px;
    padding: 0 0 14px;
    background-color: #f8f8f8;
}
footer .policy_list {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
    border-bottom: 1px solid #ebebeb;
}
footer .policy_list li a {
    font-weight: 500;
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
}
footer .policy_list li a strong {
    font-weight: 700;
    color: #222;
    text-decoration: underline;
}
footer .company_info_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
}
.company_info {
    font-size: 12px;
    color: #666;
    line-height: 1.667em;
}
.company_info address {
    font-style: normal;
}
.company_info .company_info_list {
    display: flex;
}
.company_info .company_info_list dt:after {
    content: ':';
    padding: 0 4px;
}

/****************************** FOOTER END (GYUJIN)****************************************/
/* Ticketing (jeayoon) */
.container{
    margin: 0 auto;
}
.menu{
    margin: 0 auto;
    width: 996px;
    height: 74px;
    text-align: right;
}
.menu a{
    position: relative;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: ivory;
    font-weight: bold;
    top: 30px;
}
.menu i{
    padding-right: 5px;
    font-size: 18px;
    margin-left: 5px;
}
.fa-solid{
    position: relative;
    margin-left: 6px;
    bottom: 1px;
}
/* 영화 */
.row{
    height: 600px;
    margin: 0 auto;
    width: 996px;
    display: flex;
    background-color: ivory;
}
.movietitle,
.theatertitle,
.datetitle,
.hourtitle{
    font-size: 17px;
    height: 33px;
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 5px 0;
}
.movie{
    width: 284px;
    border-left: 2px solid gray;
}
.tabmenu a{
    position: relative;
    top: 20px;
    font-size: 12px;
    margin: 0;
}
.moviesort{
    position: relative;
    margin: 0 auto;
    width: 244px;
    height: 32px;
    top: 30px;
}
.chart{
    position: relative;
    width: 244px;
    height: 32px;
    border-bottom: 2px solid gray
}
.chart a{
    position: relative;
    top: 6px;
}
.moviesort li a{
    position: relative;
    font-size: 12px;
    margin-left: 5px;
    top: 3px;
    color: gray;
    font-weight: 300;
}
nav::-webkit-scrollbar {
    width: 7px;
}
nav::-webkit-scrollbar-thumb {
    height: 10%;
    background: gray;
    border-radius: 10px;
}
nav{
    position: relative;
    top: 0px;
    height: 460px;
    overflow-y: scroll;
    white-space:nowrap;
    overflow-x: hidden;
    margin: 0 -7px;
}
.moviechart li{
    padding: 10px 0;
}
.moviechart li a{
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
.menu1
,.theatermenu1{
    text-align: center;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-top: 2px solid #333;
    padding: 5px 15px;
}
.menu2
,.theatermenu2{
    text-align: center;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid #333;
    padding: 5px 10px;
    width: 90px;

}
.menu3
,.theatermenu3{
    text-align: center;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid #333;
    padding: 5px 20px;
    width: 88px;
}
.menugnb{
    position: relative;
    display: flex;
    left: 15px;
}
ul.menugnb li a:hover {
    background: #333;
    color: white;
  }
.menulnb{
    position: absolute;
    width: 90px;
    top: 42px;
    background: #333;
    white-space:nowrap;
    display: none;
    z-index: 100;
    white-space:nowrap;
    overflow-x: hidden;
}
.menulnb li,
.menulnb2 li{
    padding-bottom: 6px;
    padding-top: 6px;
}
.menulnb:last-child,
.menulnb2:last-child
{
    padding-bottom: 5px;
}
.menulnb a,
.menulnb2 a{
    position: relative;
    color: white;
    padding: 0;
    top: 0;
    padding-left: 5px;
}
.menulnb a:hover,
.menulnb2 a:hover{
    text-decoration: underline;
}
.menulnb2{
    position: absolute;
    width: 88px;
    top: 42px;
    z-index: 100;
    background: #333;
    white-space:nowrap;
    display: none;
}
/* 극장 */
.theater{
    width: 265px;
    border-left: 2px solid gray;
}
.menugnb2{
    position: relative;
    display: flex;
    left: 30px;
}
.theatermenu{
    text-align: center;
}
.theatermenu1,
.theatermenu2,
.theatermenu3{
    position: relative;
    top: 20px;
    font-size: 12px;
    margin: 0;
    right: 10px;
}
.theatermenu1{
    padding:5px 15px;
}
.theatermenu2{
    padding:5px 20px;
}
.theatermenu3{
    padding:5px 20px;
}
.allgnb{
    position: absolute;
    top: 45px;
    left: -10px;
}
.region{
    padding: 8px 0;
    padding-left: 5px;
    text-align: right;
    background: rgb(231, 231, 212);
    border-bottom: 1px solid ivory;
    font-size: 12px;
}
.seoulregion{
    position: absolute;
    text-align: left;
    top: 0px;
    left: 105px;
    width: 124px;
    height: 513px;
    overflow-y: scroll;
    white-space:nowrap;
    overflow-x: hidden;
}
.seoulregion ul li{
    padding: 8px 0;
    padding-left: 5px;
}
.seoulregion ul li a{
    font-weight: bold;
}
.seoulregion::-webkit-scrollbar {
    width: 7px;
}
.seoulregion::-webkit-scrollbar-thumb {
    height: 5px;
    background: gray;
    border-radius: 10px;
}
/* 날짜 */
.date{
    width: 91px;
    border-left: 2px solid gray;
}
.datebox{
    text-align: center;
}
.datenav::-webkit-scrollbar {
    width: 7px;
}
.datenav::-webkit-scrollbar-thumb {
    height: 5px;
    background: gray;
    border-radius: 10px;
}
.datenav{
    height: 534px;
    position: relative;
    top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}
.calendar{
    padding-top: 10px;
}
.calendar h1{
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 10px;
}
.calendar span{
    font-size: 12px;
}
.calendardate li{
    display: block;
}
.calendardate li a{
    display: flex;
    padding:  8px;
}
.calendardate h3{
    font-size: 16px;
    font-weight: 800;
    position: relative;
    left: 30px;
}
.calendardate li span{
    position: relative;
    left: 20px;
    top: 3px;
    font-size: 13px;
    font-weight: 300;
}
/* 시간 */
.hour{
    width: 356px;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
.houricon{
    position: relative;
    width: 306px;
    height: 24px;
    display: flex;
    border-bottom: 2px solid gray;
    top: 8px;
    margin-left: 20px;
    margin-top: 19px;
    font-size: 12px;
    letter-spacing: 3px;
}
.morning{
    padding-right: 10px;
}
.morning,
.night{
    font-size: 13px;
    color: #333;
}
.fa-sun{
    color: rgb(211, 87, 43);
}
.fa-moon{
    color: rgb(71, 71, 165);
}
.hourtextbox{
    height: 426px;
}
.hourtext{
    position: relative;
    top: 200px;
    color: #555;
    font-size: 13px;
    font-weight: 300;
}
.ticket-container{
    height: 128px;
    background-color: #222;
}
.ticket-row{
    margin: 0 auto;
    width: 996px;
    text-align: center;
    align-items: center;
    display: flex;
}
.movie-selection{
    position: relative;
    width: 212px;
    height: 108px;
    top: 10px;
}
.movie-selection h1{
    position: relative;
    top: 15px;
    border-right: 1px solid #555;
    margin: 0;
    padding: 20px 0;
}
.theater-selection{
    position: relative;
    width: 212px;
    height: 108px;
    top: 10px;
}
.theater-selection h1{
    position: relative;
    top: 15px;
    border-right: 1px solid #555;
    margin: 0;
    padding: 20px 0;
}
.payment{
    display: flex;
    height: 80px;
}
.payment h1{
    position: relative;
    top: 15px;
}
.fa-chevron-right{
    padding-left: 10px;
    padding-right: 10px;
}
.banner{
    height: 200px;
}
.Ticketingimg{
    text-align: center;
    margin: 30px 0;
}
.seat-selection{
    position: relative;
    top: 10px;
    width: 106px;
    height: 108px;
    border: 2px solid #777;
    border-radius: 15px;
    background-color: #3b3b3b;
    text-align: center;
    color: #ddd;
    left: 240px;
}
.seat-selection h1{
    position: relative;
    font-size: 20px;
    top: 10px;
}
.seat-selection i{
    position: relative;
    font-size: 45px;
    top: 20px;
}
#scrollUp{
    position: relative;
    left: 1250px;
    bottom: 100px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
    width:50px;
    height:50px;
    padding-top: 13px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #333333;
    border-radius: 25px;
}
#scrollUp>i{
    position: relative;
    font-size:20px;
    color:#333333;
    right: 3px;
}
/* Ticketing End (jeayoon) */